@using Neptune.NsPay.Authorization
@using Neptune.NsPay.Web.Areas.AppArea.Models.Merchants
@using Neptune.NsPay.Web.Areas.AppArea.Startup
@using Neptune.NsPay.Web.Areas.AppArea.Models.Common.Modals


@section Scripts
{
	<script abp-src="/view-resources/Areas/AppArea/Views/RecipientBankAccounts/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("RecipientBankAccount")' description='@L("RecipientBankAccountHeaderInfo")'>



	@if (IsGranted(AppPermissions.Pages_Merchants_Create))
	{
		<div class="d-flex align-items-center gap-2">
			<div class="mb-3 ">
				<button type="button" class="btn btn-outline btn-outline-success btn-active-light-success dropdown-toggle me-1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="far fa-file-excel btn-md-icon"></i>
					<span class="d-none d-md-inline-block mb-md-0">
						@L("ExcelOperations")
					</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<span class="dropdown-item-text text-muted pl-3" href="#">
						<small class="pl-2"> @Html.Raw(L("ImportToExcelSampleFileDownloadInfo", "<a href='" + (ApplicationPath) + "assets/SampleFiles/ImportRecipientBankAccountSampleFile.csv" + "'>" + L("ClickHere") + "</a>"))</small>
					</span>
				</div>
			</div>
			<div class="mb-3">
				<div class="input-group">
					<!-- File Input (Hidden) -->
					<input type="file" name="file" id="ImportCSV" accept=".csv" class="form-control d-none">

					<!-- Custom Button for Upload -->
					<label for="ImportCSV" class="btn btn-primary">
						<i class="fa fa-upload"></i> @L("ChooseFile")
					</label>

					<!-- Textbox to Show Selected File Name -->
					<input type="text" id="fileName" class="form-control" placeholder="@L("NoFileChoosen")" readonly>

					<!-- Import CSV Button -->
					<button id="ImportCSV1" class="btn btn-success">
						<i class="fa fa-plus"></i> @L("ImportCSV")
					</button>
				</div>
			</div>

			<div class="mb-3">
				<button id="CreateNewRecipientBankAccountButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRecipient")</button>
			</div>
		</div>

	}
</abp-page-subheader>

<div class="@(await GetContainerClass())">
	<div class="card card-custom gutter-b">
		<div class="card-body">
			<div class="form">
				<div class="row align-items-center mb-4">
					<div class="col-xl-12">


						<div class="my-3">
							<div class="input-group">
								<input type="text" id="RecipientTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="">
								<button id="GetRecipientButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
				<div class="col-md-12">
				</div>
				<div class="col-md-3">
					<div class="my-3">
						<label class="form-label" for="NameFilterId">@L("Holdername")</label>
						<input type="text" class="form-control reload-on-keyup" name="nameFilter" id="NameFilterId">
					</div>
				</div>
				<div class="col-md-3">
					<div class="my-3">
						<label class="form-label" for="AccountNumberId">@L("AccountNumber")</label>
						<input type="text" class="form-control reload-on-keyup" name="accountNumber" id="AccountNumberId">
					</div>
				</div>
				<div class="col-md-3">
					<div class="my-3">
						<label class="form-label" for="BankCodeId">@L("BankCode")</label>
						<input type="text" class="form-control reload-on-keyup" name="bankCode" id="BankCodeId">
					</div>
				</div>

				<div class="col-md-12 mt-5">
					<button class="btn btn-secondary btn-sm" id="btn-reset-filters">@L("Reset")</button>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-xl-12">
					<span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
					<span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
				</div>
			</div>
			<div class="row align-items-center">
				<table id="RecipientBAccTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
					<thead>
						<tr>
							<th></th>
							<th>@L("Actions")</th>
							<th>@L("MerchantCode")</th>
							<th>@L("Holdername")</th>
							<th>@L("AccountNumber")</th>
							<th>@L("BankCode")</th>
							<th>@L("BankKey")</th>
							<th>@L("CreatedBy")</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>



<div id="duplicateRecordsModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<!-- Use the Shared Modal Header -->
			@await Html.PartialAsync("~/Areas/AppArea/Views/Common/Modals/_ModalHeader.cshtml",new ModalHeaderViewModel(L("DuplicateRecordsFound")))

			<div class="modal-body">
				<ul id="duplicateRecordsList"></ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light-primary fw-bold close-button" data-bs-dismiss="modal">@L("Cancel")</button>
			</div>
		</div>
	</div>
</div>